
.top-content{
   position: absolute;
   width: 1150px;
  margin-top: 100px;
  margin-left: 220px;
  font-family: Kanit , sans-serif;
  font-size: 20px;
  background-color: #A31D1D;
  border-radius: 15px;
  margin-bottom: 120px;
}


p {
    font-family: Kanit , sans-serif;
    font-size: 25px;
    color: #1d1401;
    text-align: center;
    margin-top: 5px;
  }



