<div class="tab"
    style="background-color: #D9D9D9; width: 280px; height: 730px; position: fixed; top: 0; left: 30px; ">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="menubar-1">
            <a class="nav-link text-dark" id="main" routerLink="/mainpage">
                <button>หน้าหลัก</button>
            </a>
        </li>
        <li class="menubar-2" id="tour">
            <a class="nav-link text-dark" routerLink="/...">
                <button>เลือกแพ็กเกจ</button>
            </a>
        </li>
        <li class="menubar-3" id="add-guide">
            <a class="nav-link text-dark" routerLink="/maindish">
                <button>เลือกอาหารจานหลัก</button>
            </a>
        </li>
        <li class="menubar-4" id="guide">
            <a class="nav-link text-dark" routerLink="/appetizer">
                <button>เลือกอาหารเรียกน้ำย่อย</button>
            </a>
        </li>
        <li class="menubar-5" id="guide">
            <a class="nav-link text-dark" routerLink="/dessert">
                <button>เลือกของหวาน</button>
            </a>
        </li>
        <li class="menubar-6" id="guide">
            <a class="nav-link text-dark" routerLink="/drinks">
                <button>เลือกเครื่องดื่ม</button>
            </a>
        </li>
        <li class="menubar-7" id="guidรe">
            <a class="nav-link text-dark" routerLink="/...">
                <button>ข้อมูลติดต่อ</button>
            </a>
        </li>
        <li class="menubar-8" id="guide">
            <a class="nav-link text-dark" routerLink="/...">
                <button>Logout</button>
            </a>
        </li>
    </ul>

    <div class="redbar" id = "profile">
        <p>profile</p>
    </div>

</div>