<div class="tab"
    style="background-color: #D9D9D9; width: 280px; height: 730px; position: fixed; top: 0; left: 30px; ">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="menubar-1">
            <a class="nav-link text-dark" id="main" routerLink="/mainpage">
                <button>หน้าหลัก</button>
            </a>
        </li>
        <li class="menubar-2" id="tour">
            <a class="nav-link text-dark" routerLink="/package">
                <button>เลือกแพ็กเกจ</button>
            </a>
        </li>
        <li class="menubar-7" id="้hirelist">
            <a class="nav-link text-dark" routerLink="/...">
                <button>ข้อมูลการจ้าง</button>
            </a>
        </li>
      
    </ul>

    <div class="redbar" >  </div>
  
</div>