<app-navbar/>
<app-sidebar-admin/>

<div class="hirelist-container">
    <h1>Banquet Chinese</h1>
    <table>
        <thead>
            <tr>
                <th>ชื่อ</th>
                <th>จังหวัด</th>
                <th>สถานที่</th>
                <th>จำนวนแขก</th>
                <th>เบอร์โทร</th>
                <th>วันที่</th>
                <th>การชำระเงิน</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>พีพี</td>
                <td>กรุงเทพ</td>
                <td>111/1 ม.1</td>
                <td>5</td>
                <td>0801233540</td>
                <td>01/01/2025</td>
                <td>
                    <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br>
                </td>
            </tr>
            <tr>
                <td>พีพี</td>
                <td>กรุงเทพ</td>
                <td>111/1 ม.1</td>
                <td>5</td>
                <td>0801233540</td>
                <td>01/01/2025</td>
                <td>
                    <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br>
                </td>
            </tr>
            <tr>
                <td>พีพี</td>
                <td>กรุงเทพ</td>
                <td>111/1 ม.1</td>
                <td>5</td>
                <td>0801233540</td>
                <td>01/01/2025</td>
                <td>
                    <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br>
                </td>
            </tr>
            <tr>
                <td>พีพี</td>
                <td>กรุงเทพ</td>
                <td>111/1 ม.1</td>
                <td>5</td>
                <td>0801233540</td>
                <td>01/01/2025</td>
                <td>
                    <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button-container">
        <button>BACK</button>
    </div>
</div>

