<app-navbar></app-navbar>
<app-sidebar-admin></app-sidebar-admin>

<div class="orderlist-container">
    <h1>รายการออเดอร์ทั้งหมด</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>ชื่อ</th>
                <th>จังหวัด</th>
                <th>สถานที่</th>
                <th>จำนวนแขก</th>
                <th>เบอร์โทร</th>
                <th>วันที่</th>
                <th>การชำระเงิน</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Orderreport of Orderreports">
                <td>{{ Orderreport.user_ID }}</td>
                <td>{{ Orderreport.username }}</td>
                <td>{{ Orderreport.province }}</td>
                <td>{{ Orderreport.placeEvent }}</td>
                <td>{{ Orderreport.guestAmount }}</td>
                <td>{{ Orderreport.phone }}</td>
                <td>{{ Orderreport.eventdate | date:'yyyy-MM-dd'}}</td>
                <td>
                    <label  [ngClass]="{'btn-outline-success': Orderreport.payment_Status === 'paid', 'btn-outline-danger': Orderreport.payment_Status === 'pending'}" for="btn-check-2-outlined">
                      {{ Orderreport.payment_Status === 'paid' ? 'Paid' : 'Pending' }}
                    </label><br>
                  </td>
                  
            </tr>
        </tbody>
    </table>
</div>
