<app-navbar />
<app-sidebar />
<div class="container">
    <div class="content">
      <div class="image-section">
        <img src="assets/placeholder-image.png" class="image-placeholder" alt="Uploaded Image">
        <p class="place-text">Place</p>
      </div>
      <div class="receipt-section">
        <h2 class="receipt-title">Receipt</h2>
        <div class="package">
          <h3>Package</h3>
          <p>Size</p>
          <p>Guest Number</p>
        </div>
        <div class="menu">
          <h3>Menu</h3>
          <p>menu1</p>
          <p>menu2</p>
          <p>menu3</p>
          <p>menu4</p>
          <p>menu5</p>
          <p>menu6</p>
        </div>
        <div class="desserts">
          <h3>Desserts</h3>
          <p>menu1</p>
          <p>menu2</p>
        </div>
        <div class="charges">
          <p>VAT</p>
          <p>Service Charge</p>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="back-button">Back</button>
      <button class="confirm-button">Confirm <i class="bi bi-check-all"></i></button>
    </div>
  </div>