@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');

form {
    width: 100%;
    max-width: 500px; 
    margin-top: 150px;
    margin-left: 500px;
    padding: 30px;
    background-color:  aliceblue;
    color: #49041c;
    border-radius: 20px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    position: fixed;
    font-family: kanit , sans-serif;
}

  

  label {
    display: block;
    font-weight:lighter;
    margin-top: 12px;
    font-size: 14px;
  }
  

  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: #ddd6d7;
    color: #150101;
  }

  button {
    margin-left: 320px;
    width: 120px;
    padding: 10px;
    background-color: #a20a30; 
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    font-family: Merienda, sans-serif;
  }

  button:hover {
    background-color: #f5f1f2; 
    color: #A31D1D;
  }
  

  p {
    align-items: center;
    margin-left: 160px;
    font-size: 25px;
  }