<app-navbar/>
<app-sidebar-admin/>
<div>
    <form [formGroup]="addmenuForm" (ngSubmit)="onSubmit()">

        <p>  Add menu  <i class="bi bi-plus-circle-fill"></i>  </p>
        <label for="foodname">ชื่อเมนู : </label>
        <input type="text" id="foodname" formControlName="menu_Name" placeholder="กรอกชื่อเมนู" required>
        
        <label for="cost">ราคาต้นทุน :</label>
        <input type="number" id="cost" formControlName="menu_Price" placeholder="ระบุราคาต้นทุนเมนูอาหาร" required>
      
        <label for="category">ประเภทหมวดหมู่ : </label>
        <select id="category" formControlName="menu_Type">
          <option value="maindish">อาหารจานหลัก</option>
          <option value="appetizer">อาหารเรียกน้ำย่อย</option>
          <option value="dessert">ขนมหวาน</option>
          <option value="drink">เครื่องดื่ม</option>
        </select>

        <span *ngIf="addmenuForm.get('category')?.invalid && addmenuForm.get('category')?.touched" style="color: red;">
          กรุณาเลือกหมวดหมู่ก่อนนะครับ!
      </span>
      <label>อัปโหลดรูปภาพ:</label>
  <input type="file" (change)="onFileSelected($event)">

  
        <button type="submit">Submit</button>
      </form>
  </div>

