<div class="container mt-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let dessert of desserts  ">
        
        <div class="card" style="cursor: pointer;">
          <div class="text-center">
            <img [src]="'http://localhost:5014/api' + dessert.menu_Picturename"  class="rounded" style="width: 150px" alt="maindish Image">
          </div>

          <div class="card-body position-relative">
            <h5 class="card-title">{{ dessert.menu_Name }}</h5>
            <h5 class="card-title">{{ dessert.menu_Price }} ฿ </h5>
          </div>
          
          
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);"
            [checked]="isChecked(dessert.menu_ID)"  
                   (change)="toggleSelection(dessert, $event)">
          </div>
        </div>
      </div>
    </div>
  </div>
  