body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/frontend/public/assets/images/china.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.login-container {
  width: 300px;
  margin: 200px auto;
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000001a;
  background-color: #6D2323;
}

h2 {
  text-align: center; 
  margin-bottom: 20px;
  color: #FFD95A;
}

form div {
  margin-bottom: 15px;
  text-align: left; 
  color: #FFD95A;
}

label {
  display: block;
  margin-bottom: 5px;

}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 8px;
}

.button-group {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
  margin-top: 20px;
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #FFD95A;
  color: #6D2323;
  width: 100%;
}

button:hover {
  background-color: #ffc400;
}


a{

  text-decoration: none ;
  color: #FFD95A;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.register-link {
  text-align: center;
  display: block;
  color: #FFD95A;
  font-size: 14px;
  margin-top: 10px; 
}


small {
  color: red;
  font-size: 0.8em;
}