<app-navbar />
<app-sidebar-package />

<div class="topic"> กรุณากรอกข้อมูลแพ็กเกจที่เลือกเพิ่มเติม</div>

<div class="package-choose">
    <div class="form">
        <p> Package : </p>
        <input class="input" placeholder="ชื่อ-นามสกุล"><br>
        <input class="input" placeholder="จังหวัด"><br>
        <input class="input" placeholder="สถานที่จัด"><br>
        <input class="input" placeholder="วันเวลาจัดโต๊ะ"><br>
        <input class="input" placeholder="เบอร์มือถือ"><br>
    </div>

</div>

