
button {
  background-color: #6D2323;
  color: #FFD95A;
  border: none; 
  border-radius: 5px;
  }
  
  button:hover {
  background-color: #FFD95A;
  color: #6D2323;
  }
  
  h5 {
    margin-top: 100px;
    position: absolute;
    color: black;
    margin-left: 300px;
    font-family: Kanit , sans-serif;
  }