@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');

.navbar {
    background-color: #650303;
    top: 0 auto;
    left: 0;
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.329); 
    height: 100px;
    width: 1540px;
    margin-left: 0rem;
    margin-top: -2rem;
    z-index: 1000;
    position: fixed;
}

.navbar p{
    margin-top: 20px;
    margin-left: 22px;
    font-family: Merienda , sans-serif;
    font-size: 22px;
    color: #A31D1D;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 15px;

}
.nav-item {
    font-family: Merienda , sans-serif;
  }
  .navbar-nav {
    margin-right: 450px;
  }

  .nav-link {
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    margin: 10px;
}

.nav-link:hover {
    color: #FFD95A;
    text-decoration:none;
}

.nav-link.active {
    color: #fcdeaa; 
    text-decoration:underline; 
}
