@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');

.navbar {
    background-color: #650303;
    top: 0 auto;
    left: 0;
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.329); 
    height: 100px;
    width: 1540px;
    margin-left: 0rem;
    margin-top: -2rem;
    z-index: 1000;
    position: fixed;
    /* position: sticky; */
}


.navbar p{
    margin-top: 20px;
    margin-left: 22px;
    font-family: Merienda , sans-serif;
    font-size: 22px;
    color: #A31D1D;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 15px;

}
.nav-item {
    font-family: Merienda , sans-serif;
  }
  /* .navbar-nav {
    margin-right: 450px;
  } */

  .nav-link {
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    margin: 15px;
    
}

.nav-link:hover {
    color: #FFD95A;
    text-decoration:none;
}

.nav-link.active {
    color: #fcdeaa; 
    text-decoration:underline; 
}

button {
    margin-right: 30px;
    width: 200px;
    padding: 10px 25px;
    border: unset;
    border-radius: 40px;
    color: #A31D1D;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    font-family: Merienda , sans-serif;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
  }
  
  button:hover {
    color: #FFD95A;
  }
  
  button:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  
  button:active {
    transform: scale(80%);
  }

  #btnlogout{
    color: #212121;
  }

  .dropdown-menu{
   font-family: Kanit , sans-serif;
  }

  .dropdown-item{
    font-family: Kanit , sans-serif;
  }

  .dropdown-item:hover{
    background-color: #212121;
    color: #FFD95A;
  }

 