<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #650303;">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <p>Toh-Wang-Soi </p>
    </a>
  </div>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav"> 
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" >Maindish</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" >Appetizer</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" > Dessert</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" > Drinks</a>
      </li>

    </ul>
  </div>
  <div class="login">
    <button *ngIf="!isLoggedIn" class="btn btn-primary" (click)="goToLogin()">Login</button>

    <div *ngIf="isLoggedIn" class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="accountMenu" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle"></i>
      </button>

      <ul class="dropdown-menu" aria-labelledby="accountMenu">
        <li><a class="dropdown-item" >Edit Profile</a></li>
        <li><a class="nav-link" (click)="logout()" href="/" id="btnlogout">Logout</a></li>
      </ul>
    </div>


  </div>
</nav>