<div class="tab"
    style="background-color: #D9D9D9; width: 280px; height: 730px; position: fixed; top: 0; left: 30px; ">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="menubar-1">
            <a class="nav-link text-dark" id="addmenu" routerLink="/addmenu">
                <button>เพิ่มรายการอาหาร</button>
            </a>
        </li>
        <li class="menubar-2" id="tour">
            <a class="nav-link text-dark" routerLink="/showmenu">
                <button>รายการอาหารทั้งหมด</button>
            </a>
        </li>
        <li class="menubar-3" id="tour">
            <a class="nav-link text-dark" routerLink="/orderlist">
                <button>รายการจ้าง</button>
            </a>
        </li>
        
    </ul>

    <!-- <div class="redbar" >  </div> -->
  
</div>
