<app-navbar/>
<app-sidebar/>

<div class="hirelist-container">
    <h1>Banquet Chinese</h1>
    <table>
        <thead>
            <tr>
                <th>จังหวัด</th>
                <th>สถานที่</th>
                <th>จำนวนแขก</th>
                <th>วันที่</th>
                <th>ใบเสร็จ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>กรุงเทพ</td>
                <td>111/1 ม.1</td>
                <td>5</td>
                <td>01/01/2025</td>
                <td>#12345</td>
            </tr>
            <tr>
                <td>กรุงเทพ</td>
                <td>111/1 ม.1</td>
                <td>5</td>
                <td>05/01/2025</td>
                <td>#12345</td>
            </tr>
            <tr>
                <td>กรุงเทพ</td>
                <td>111/1 ม.1</td>
                <td>5</td>
                <td>10/01/2025</td>
                <td>#12345</td>
            </tr>
            <tr>
                <td>กรุงเทพ</td>
                <td>111/1 ม.1</td>
                <td>5</td>
                <td>20/01/2025</td>
                <td>#12345</td>
            </tr>
        </tbody>
    </table>
    <div class="button-container">
        <button>BACK</button>
    </div>
</div>

