<app-navbar />
<app-sidebar />

<div class="top-content">
  <div class="row">
    <div class="col">
      <div class="th">
        <p> เลือกแพ็กเกจโต๊ะกันเลย!!</p>
      </div>
      <div class="en">
        <p> Choose your package </p>
      </div>
      <div class="ch">
        <p> 立即选择餐桌套餐。 </p>
      </div>
    </div>

    <div class="col">
      <div class="slider">
        <input type="radio" name="slide" id="slide1" checked>
        <input type="radio" name="slide" id="slide2">
        <input type="radio" name="slide" id="slide3">
        <input type="radio" name="slide" id="slide4">

        <div class="slides">
          <div class="slide">
            <img
              src="/assets/images/showbar1.jpg"alt="Burger">
          </div>
          <div class="slide">
            <img
              src="https://img.sabuywedding.com/stories/6629fb98be1c65002e09cd5b/6629fb98be1c65002e09cd5b-1714038183778.jpeg.jpg?width=720"
              alt="Pancakes">
          </div>
          <div class="slide " >
            <img src="/assets/images/timzum.jpg" alt="Timzum">
          </div>
        </div>

        

        <div class="navigation">
          <label for="slide1"></label>
          <label for="slide2"></label>
          <label for="slide3"></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line1">
  <hr> 
</div>



<div class="package">
  

  <div class="recomment-package d-flex flex-wrap justify-content-center gap-5">
    <p class = "package-title"> เรามีแพ็กเกจโต๊ะจีนให้ท่านได้เลือกสรรได้ดั่งใจที่ท่านต้องการ </p>
    <div class="card1">
      <button class="next-btn" routerLink="/package-size"
              [ngClass]="{'btn-primary': isChecked(1), 'btn-outline-primary': !isChecked(1)}" 
              (click)="toggleSelection({ id: 1, name: 'S' })">
      </button>
    </div>
    
    <div class="card2">
      <button class="next-btn" routerLink="/package-size"
              [ngClass]="{'btn-primary': isChecked(2), 'btn-outline-primary': !isChecked(2)}" 
              (click)="toggleSelection({ id: 2, name: 'M' })">
      </button>
    </div>
    
    <div class="card3">
      <button class="next-btn" routerLink="/package-size"
              [ngClass]="{'btn-primary': isChecked(3), 'btn-outline-primary': !isChecked(3)}" 
              (click)="toggleSelection({ id: 3, name: 'L' })">
      </button>
    </div>
    
    
    <p class = "package-footer"> เรามีแพ็กเกจโต๊ะจีนให้ท่านได้เลือกสรรได้ดั่งใจที่ท่านต้องการ </p>
  </div>
</div>
 
<!-- <div class="card1">
  <button class="btn" 
          [ngClass]="{'btn-primary': isChecked(1), 'btn-outline-primary': !isChecked(1)}" 
          (click)="toggleTableSelection({ id: 1, name: 'S' })">
    แพ็กเกจ S
  </button>
</div>

<div class="card2">
  <button class="btn" 
          [ngClass]="{'btn-primary': isChecked(2), 'btn-outline-primary': !isChecked(2)}" 
          (click)="toggleTableSelection({ id: 2, name: 'M' })">
    แพ็กเกจ M
  </button>
</div>

<div class="card3">
  <button class="btn" 
          [ngClass]="{'btn-primary': isChecked(3), 'btn-outline-primary': !isChecked(3)}" 
          (click)="toggleTableSelection({ id: 3, name: 'L' })">
    แพ็กเกจ L
  </button>
</div> -->

        
<!-- <div class="card1" >
  <button class="next-btn" routerLink="/package-size" >เลือก</button>
</div>

<div class="card2"  >
  <button class="next-btn" routerLink="/package-size">เลือก</button>
</div>

<div class="card3" >
  <button class="next-btn" routerLink="/package-size">เลือก</button>
</div> -->

