<h2>รายละเอียดคำสั่งซื้อ</h2>

<p><strong>ชื่อติดต่อ:</strong> {{ orderData?.contact_Name }}</p>
<p><strong>จังหวัด:</strong> {{ orderData?.province }}</p>
<p><strong>สถานที่จัดงาน:</strong> {{ orderData?.place}}</p>
<p><strong>จำนวนแขก:</strong> {{ orderData?.guestAmount }}</p>
<p><strong>ขนาดโต๊ะ:</strong> {{ tableAmount }} คนต่อโต๊ะ</p>
<p><strong>วันที่สั่ง:</strong> {{ orderData?.orderdate | date}}</p>
<p><strong>วันที่จัดงาน:</strong> {{ orderData?.eventdate | date}}</p>
<p><strong>ราคารวม:</strong> {{ finalPrice }} บาท</p>

<h3>เมนูที่เลือก</h3>
<ul>
  <li *ngFor="let item of orderData?.orderDetails">
    เมนู ID: {{ item.menu_ID }}
  </li>
</ul>

<button (click)="sendOrder()">ส่งคำสั่งซื้อ</button>
