


   <div class="container mt-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let appetizer of appetizers">
        
        <div class="card" style="cursor: pointer;">
          <div class="text-center">
            <img [src]="'http://localhost:5014/api' + appetizer.menu_Picturename"
                 class="rounded"
                 style="width: 150px; height: 150px; object-fit: cover;"
                 alt="menu Image">
          </div>

          <div class="card-body position-relative">
            <h5 class="card-title">{{ appetizer.menu_Name }}</h5>
            <!-- <h5 class="card-title">{{ appetizer.menu_Price }} ฿ </h5> -->
          </div>

          <div class="text-center mt-2">
            <input class="form-check-input"  type="checkbox"  style="transform: scale(1.5);"
                   [checked]="isChecked(appetizer.menu_ID)"  
                   (change)="toggleSelection(appetizer, $event)">
          </div>

        </div>
      </div>
    </div>
</div>
