<app-navbar />
<app-sidebar-package />

<app-appetizer-card />



<div class="container mt-4">
    <div class="container ml-4">
    <router-outlet></router-outlet>
  </div>
  <div class="row">

    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Shumai.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            ขนมจีบ
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>
    
    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Har Gow.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            ฮะเก๋า
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>

    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Fried Spring Rolls.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            ปอเปี๊ยะทอด
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>

    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Jellyfish Salad.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            ยำแมงกะพรุน
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>

    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Roast duck.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            เป็ดย่าง
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>

    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Salad.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            สลัด
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>

    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Spicy Glass Noodle Salad.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            ยำวุ้นเส้น
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>

    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Fried Vegetables.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            ผักชุบแป้งทอด
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>

    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Dim Sum.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            ติ่มซำ
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>

    <div class="col-3">
      <label class="card" style="cursor: pointer;">
        <div class="text-center">
          <img src="/assets/images/Drunken Chicken.jpg" class="rounded" style="width: 150px;">
        </div>
        <div class="card-body position-relative">
          <div class="card-title h5 text-center">
            ไก่แช่เหล้า
          </div>
          <div class="text-center mt-2">
            <input class="form-check-input" type="checkbox" id="checkbox1" style="transform: scale(1.5);">
          </div>
        </div>
      </label>
    </div>
  </div>
</div>


<button class="next" id="nextButton" style="position: fixed; bottom: 24px; right: 120px; font-size: 18px; padding: 15px 30px;" routerLink="/dessert">
  ถัดไป
</button>

<!-- ส่วนของปุ่ม "ย้อนกลับ" -->
<button class="next" id="nextButton" style="position: fixed; bottom: 24px; right: 240px; font-size: 18px; padding: 15px 30px;" routerLink="/package">
  กลับ
</button>